<html>

<head>
<title>{{.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/skeleton.css">
<style type="text/css">
#downloadLink{
    margin-top:20px;
    margin-bottom: 20px;
}
</style>
</head>
<body>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <h3>Screenshot Website</h3>
        <form id="formWebScreenshots">
        <input name="url" class="u-full-width" type="text" placeholder="http://google.com">
        <br>
        <div id="btnLoading" style="display:none;">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div id="errorText" style="display:none;"></div>
        <a class="button button-primary" id="downloadLink" target="_blank" href="" style="display:none;">
            {{.toScreenshot}}
        </a>
        <br>
        <a onclick="submit()" class="button" id="btnScreenshot" value="Click">
            <i class="fa fa-camera-retro"></i> Screenshot
        </a>
        </form>
	</div>
</div>

<div class="container">
<p>
{{.needmoresnaphosts}} {{.gopro1}} {{.price}}{{.currencysymbol}}<br>
{{.gopro2}}
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_xclick-subscriptions">
<input type="hidden" name="business" value="{{.emailaddress}}">
<input type="hidden" name="lc" value="BM">
<input type="hidden" name="item_name" value="WebScreenshot Professional">
<input type="hidden" name="item_number" value="102">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="src" value="1">
<input type="hidden" name="a3" value="{{.price}}">
<input type="hidden" name="p3" value="1">
<input type="hidden" name="t3" value="M">
<input type="hidden" name="currency_code" value="{{.currencycode}}">
<input type="hidden" name="bn" value="PP-SubscriptionsBF:btn_subscribeCC_LG.gif:NonHostedGuest">
<input type="image" src="https://www.paypalobjects.com/{{.countrycode}}/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>


<p>
{{.anyquestions}} <a href="mailto:{{.emailaddress}}">{{.emailaddress}}</a>
</p>
</div>


<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

<script>
$(document).ready(function(){
	$('#formWebScreenshots').submit(screenshot)
})

function submit(){
	$('#formWebScreenshots').submit();
}

function screenshot(e){
	e.preventDefault();
	loadingButton(false)
	
	$.ajax({
        url: '/screenshot',
        type: 'get',
        dataType: 'text',
        data: $('form#webscreenshot').serialize(),
        success: onScreenshotSuccess,
		error:onScreenshotError
    });
}

function loadingButton(hide){
	$('#downloadLink').hide();
	$('#errorText').hide();
	
	if(hide){
		$('#btnScreenshot').show();
		$('#btnLoading').hide();
	}else{
		$('#btnScreenshot').hide();
		$('#btnLoading').show();
	}
}

function onScreenshotSuccess(text){
	loadingButton(true)
	
	$('#downloadLink').attr('href',text).show();
	$('#errorText').text('').hide();
}

function onScreenshotError(data){
	loadingButton(true)
	var text = data.responseText;
	$('#downloadLink').attr('href','').hide();
	$('#errorText').text(text).show();
}

</script>
</body>
</html>