<html>

<head>
<title>{{.title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/normalize.css">
<link rel="stylesheet" href="/static/css/skeleton.css">
<style type="text/css">
#downloadLink{
    margin-top:20px;
    margin-bottom: 20px;
}
#errorText{
	font-weight:bold;
	color:red;
}
#successText{
	font-weight:bold;
	color:green;
}
table a {
	color:black;
}
.mainview{
	padding-top:20px;
}
nav a{
	margin-left:15px;
	color:gray;
}

</style>
</head>
<body>
<nav class="container">
	Menu:
	<a href="{{.pageLinks_url}}">{{.pageLinks_title}}</a>
	<a href="{{.pageScreenshot_url}}" class="active">{{.pageScreenshot_title}}</a>
</nav>
<div class="container mainview">
    <div class="row">
        <h3><i class="fa fa-link"></i> {{.findLinksTitle}}</h3>
        <form id="formSiteInfo" style="overflow:auto;">
			<label>{{.websitelabel}}</label>
	        <input name="url" class="u-full-width" type="url" placeholder="http://google.com" required>
			
	        <div id="errorText" style="display:none;"></div>
			<div id="successText" style="display:none;">{{.isCrawling}}</div>
			<input type="submit" class="button u-pull-left" value="{{.getlinks}}">
			</input>
			<div id="btnLoading" class="u-pull-left" style="margin-left:5px;display:none;">
		            <i class="fa fa-spinner fa-spin" style="line-height:35px;"></i>
		    </div>
			<a href="./more" class="u-pull-right" id="showMore">
			{{.btnShowMore}}
			</a>
        </form>
		<p><strong>{{.description}}</strong>: {{.findLinksSubtext}}</p>
		<a download='somedata.xls' id="btnExportToExcel" style="display:none;"
			class="u-pull-right" href='#' onclick="return ExcellentExport.excel(this, 'tableLinks', 'Links')">
			Export to Excel
		</a>
		<table id="tableLinks" class="u-pull-left">
		</table>
	</div>
</div>
<script src="/static/excellentexport.min.js"></script>

<script src="https://code.jquery.com/jquery-2.2.2.min.js"
	integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI="
	crossorigin="anonymous"></script>

<script>
var textLinkFrom = "{{.linksFrom}}"
var errorTextTooManyRequests ="{{.errorTooManyRequests}}"


$(document).ready(function(){
	$('#formSiteInfo').submit(getSiteInfo);
})

$.fn.isValid = function(){
    return this[0].checkValidity()
}

function getSiteInfo(e){
	loadingButton(false)
	e.preventDefault()
	
	var form = $('#formSiteInfo');
	if (form.isValid()){
		$.ajax({
	        url: '/siteinfo',
	        type: 'get',
	        dataType: 'json',
	        data: form.serialize(),
	        success: onSubmitSuccess,
			error:onSubmitError
	    });
	}else{
		form.find( ":invalid" ).first().focus();
	}
}

function loadingButton(hide){
	$('#errorText').hide();
	
	if(hide){
		$('#btnScreenshot').show();
		$('#btnLoading').hide();
		$('#btnExportToExcel').show();
	}else{
		$('#btnScreenshot').hide();
		$('#btnLoading').show();
		$('#btnExportToExcel').hide();
	}
}

function onSubmitSuccess(obj){
	loadingButton(true)
	$('#successText').show().delay(4000).hide(200);
	$('#errorText').text('').hide();
	var ls = $('#tableLinks');
	ls.empty()
	var hrefs = obj.RespInfo.Hrefs;
	if (hrefs==null){
		return;
	}
	
	hrefs.sort();
	var header = $('<tr>')
		.append($('<th>').text(textLinkFrom + ' '+obj.URL));
	
	ls.append(header)
	for(var x =0;x<hrefs.length;x++){
		var newLink = $('<a>').attr('href',hrefs[x])
					.text(hrefs[x])
					.attr('target','_blank');
					
		var row = $('<tr>').append($('<td>').append(newLink));
		ls.append(row);
	}
}

function onSubmitError(data){
	var errorText = data.responseJSON.Error
	loadingButton(true)
	$('#downloadLink').attr('href','').hide();
	$('#errorText').text(errorText).show().delay(4000).hide(200);
	$('#successText').hide();
}

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76048524-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>